# Loads default set of integrations. Do not remove.
default_config:

homeassistant:
  customize: !include customize.yaml

# Text to speech
tts:
  - platform: google_translate

logger:
  logs:
    homeassistant.components.command_line: debug

input_boolean:
  has_motion_downstairs_today:
    name: Has been motion downstairs today
    icon: mdi:car

cover:
  - platform: template
    covers:
      west_garage_door:
        device_class: garage
        friendly_name: "West Garage Door"
        value_template: "{{ is_state('binary_sensor.west_garage_door_contact_sensor_contact', 'on') }}"
        open_cover:
          - action: switch.toggle
            target:
              entity_id: switch.garage_door
        close_cover:
          - action: switch.toggle
            target:
              entity_id: switch.garage_door

homekit:
  - filter:
      include_entities:
        - light.office_light
        - light.master_bedroom_lamp
        - sensor.average_temperature

command_line:
  - sensor:
      name: Energy Usage During Peak
      unique_id: "energy_usage_during_peak"
      command: python3 /config/python_scripts/get_energy_usage.py
      unit_of_measurement: "kWh"
      command_timeout: 180

openhasp:
  m5stack:
    objects:
      - obj: "p1b5" # Battery
        properties:
          "val": '{{ states("sensor.solis_inverter_battery") }}'
          "value_str": '{{ states("sensor.solis_inverter_battery") }}%'
      - obj: "p1b6" # PV
        properties:
          "val": '{{ states("sensor.solis_inverter_pv") }}'
          "value_str": '{{ states("sensor.solis_inverter_pv") }}W'
      - obj: "p1b7" # Usage
        properties:
          "val": '{{ states("sensor.power_usage") }}'
          "value_str": '{{ states("sensor.power_usage") }}W'

input_number:
  adaptive_light_brightness:
    name: Adaptive Light Brightness
    icon: mdi:lightbulb
    max: 100
    initial: 100
    min: 1
  temperature_at_end_of_daylight:
    name: Temperature at the end of daylight
    initial: 0
    max: 30
    min: 0
  temperature_at_start_of_daylight:
    name: Temperature at the start of daylight
    initial: 0
    max: 30
    min: 0
  overnight_heat_loss:
    name: Heat lost overnight
    initial: 0
    max: 30
    min: 0

mqtt: !include_dir_merge_list mqtt-sensors/

#  binary_sensor:
#    - unique_id: "solis_inverter_battery_charging_status"
#      name: "Home Battery Charging Status"
#      state_topic: "solis/metrics"
#      value_template: "{{ value_json.battery_current_direction }}"
#      expire_after: 120
#      payload_on: "0"
#      payload_off: "1"
#      device_class: "battery_charging"
#  sensor:
#    - name: "Home Battery"
#      unique_id: "solis_inverter_battery"
#      state_topic: "solis/metrics"
#      unit_of_measurement: "%"
#      expire_after: 300
#      value_template: "{{ value_json.battery_capacity_soc }}"
#      device_class: "battery"
#    - name: "Solis Solar Generation"
#      state_topic: "solis/metrics"
#      unique_id: "solis_solar_generation"
#      state_class: measurement
#      unit_of_measurement: "W"
#      expire_after: 120
#      value_template: "{{ value_json.solar_to_house_power_modified }}"
#      device_class: "power"
#    - unique_id: "solis_battery_to_house"
#      name: "Solis Battery Power"
#      state_topic: "solis/metrics"
#      unit_of_measurement: "W"
#      expire_after: 120
#      value_template: "{{ value_json.battery_power_out_modified }}"
#      device_class: "power"
#    - unique_id: "solis_inverter_to_battery"
#      name: "Solis Battery Charging"
#      state_topic: "solis/metrics"
#      unit_of_measurement: "W"
#      expire_after: 120
#      value_template: "{{ value_json.battery_power_in_modified }}"
#      device_class: "power"
#    - unique_id: "solis_battery_voltage"
#      name: "Solis Battery Voltage"
#      state_topic: "solis/metrics"
#      expire_after: 300
#      value_template: "{{ value_json.battery_voltage / 10 }}"
#      device_class: "voltage"

sensor: !include_dir_merge_list sensors/
binary_sensor: !include_dir_merge_list binary-sensors/
switch: !include_dir_merge_list switches/

# Removed as of 2024.8
# proximity:
#   home_tesla:
#     zone: home
#     devices:
#       - device_tracker.tesla_location
#     tolerance: 10
#     unit_of_measurement: km

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.16.16.17
    - 172.16.16.62
    - 172.16.16.61
    - 172.16.16.60
    - 127.0.0.1
    - ::1

rest:
  resource: !secret ripple_energy_url
  scan_interval: 7200
  sensor:
    - name: "Ripple Energy - All Data"
      unique_id: "ripple_energy_alldata"
      value_template: "OK"
      json_attributes:
        - generation_assets

lovelace:
  mode: yaml
  resources:
    - url: /local/layout-card.js
      type: module
    - url: /local/history-explorer-card.js
      type: module
    - url: /local/wallpanel.js
      type: module
    - url: /local/kiosk-mode.js?v=1.2.1
      type: module

alexa:
  smart_home:
    locale: en-GB
    filter:
      include_entities:
        - light.master_bedroom_light
        - light.master_bedroom_lamp
        - light.office_light
        - light.all_lights
        - cover.office_blind
        - switch.my_office_setup_plug
        - switch.dehumidifier
        - switch.mqtt_guest_mode_switch
        - light.the_living_room_lights
        - vacuum.jeff
        - switch.tasmota_plug_2
    entity_config:
      switch.mqtt_guest_mode_switch:
        name: "Guest Mode"
      light.office_light:
        name: "Office Light"
      vacuum.jeff:
        name: "Jeff"
      light.all_lights:
        name: "Everything"
      light.the_living_room_lights:
        name: "Living Room Lights"
      light.master_bedroom_lamp:
        name: "Master Bedroom Lamp"
      switch.dehumidifier:
        name: "Dehumidifier"
      cover.office_blind:
        name: "Office Blind"
      switch.tasmota_plug_2:
        name: "Christmas Tree"

logbook:
  exclude:
    entity_globs:
      - "*led_indication"
      - "*occupancy_timeout"
      - "*illuminance_lux"
      - "*illuminance"
      - "*motion_sensitivity"
      - "*update_available"

automation manual: !include_dir_merge_list automations/
automation ui: !include automations.yaml

script: !include scripts.yaml
scene: !include scenes.yaml
template: !include_dir_merge_list templates/

influxdb:
  username: "home_assistant"
  password: !secret influx_password
  include:
    entities:
      - sensor.solis_inverter_battery
      - sensor.solis_solar_to_house
      - sensor.solar_generating_power
      - sensor.grid_energy_power
      - sensor.power_usage
      - sensor.living_room_sensor_humidity
      - sensor.office_sensor_humidity
      - sensor.kitchen_sensor_humidity
      - sensor.living_room_sensor_temperature
      - sensor.downstairs_kitchen_sensor_temperature
      - sensor.downstairs_living_room_temperature
      - sensor.master_bedroom_sensor_temperature
      - sensor.living_room_upstairs_sensor_temperature
      - sensor.spare_bedroom_sensor_temperature
      - sensor.kitchen_sensor_temperature
      - sensor.gavins_office_desk_temperature
      - sensor.office_sensor_temperature
      - sensor.vicare_hot_water_gas_consumption_current_day
      - sensor.vicare_heating_gas_consumption_current_day
      - weather.home
      - sensor.forecast_temperature
      - sensor.battery_power
      - climate.vicare_heating
      - sensor.vicare_boiler_supply_temperature

light:
  - platform: group
    name: hall_lights
    entities:
      - light.hall_wall_office_light
      - light.hall_wall_livingroom_light
      - light.landing_light
      - light.hall_wall_door_light
      - light.landing_light_1
      - light.landing_light_2
      - light.landing_light_3
  - platform: group
    name: all_living_room_lights
    entities:
      - light.living_room_lamp
      - light.living_room_playbar
  - platform: group
    name: downstairs_lights
    entities:
      - light.hall_lights
      - light.office_light
      - light.kitchen_rear_light
  - platform: group
    name: upstairs_lights
    entities:
      - light.master_bedroom_lamp
      - light.landing_light
  - platform: group
    name: all_lights
    entities:
      - light.upstairs_lights
      - light.downstairs_lights
